<header class="header">
    <div class="header__brand">
        <h1 class="header__logo"><a href="/">Brand</a></h1>
    </div>
    <div class="header__links">
        <a href="#" class="header__link">Shop</a>
        <a href="#" class="header__link">Products</a>
        <a href="#" class="header__link">Cart</a>
        <a href="#" class="header__link">Orders</a>
        <a href="#" class="header__link">Add Product</a>
        <a href="#" class="header__link">Admin Products</a>
    </div>
</header>